<div class="uk-container">
    <nav class="uk-navbar">
        <div class="uk-navbar-letf">
            <a class="uk-navbar-item uk-logo" href="">Home</a>
        </div>
        <div class="uk-navbar-letf">
            <a class="uk-navbar-item uk-logo" href="todo">Todo</a>
        </div>
        <div class="uk-navbar-letf">
            <a class="uk-navbar-item uk-logo" href="other">Other</a>
        </div>
    </nav>
</div>